<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>401 - Acceso denegado</title>
    <link rel="stylesheet" href="/MainErrores.css" />
    <link rel="shortcut icon" href="/img_local/logo-pagina-serviapp.png" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="path/to/your/styles.css" />
  </head>
  <body>
    <div class="error-page">
      <div class="error-content">
        <img
          src="/img_local/logo-pagina-serviapp.png"
          alt="ServiApp Logo"
          class="error-logo"
        />
        <h1>¡Oops! No estas autorizado para acceder a esta página.</h1>
        <p>
          Error 401 Acceso denegado a esta página. ¿Por qué no vuelves al
          inicio?
        </p>
        <a href="/" class="btn btn-primary">Volver al Inicio</a>
      </div>
    </div>
  </body>
</html>
