<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INICIO DE SESIÓN</title>

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Grey+Qo&family=Kanit:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <!-- Estilos -->
    <link rel="stylesheet" href="/estilos_inicio/iniciosesion.css" />
    <link rel="shortcut icon" href="/img_local/logo-pagina-serviapp.png" />
  </head>
  <body>
    <div class="contenedor">
      <div class="caja-inicioSesion">
        <div class="formulario-login">
          <h2>Iniciar Sesión</h2>

          <form action="/login" method="post">
            <input type="text" name="username" placeholder="Email" required />
            <input
              type="password"
              name="password"
              placeholder="Contraseña"
              required
            />

            <!-- Mensaje de error si hay un fallo en las credenciales -->
            <div th:if="${param.error}" style="color: red">
              Credenciales incorrectas. Intenta nuevamente.
            </div>

            <button type="submit">Entrar</button>
          </form>

          <p>¿Aún no tienes cuenta? <a href="/registro">Regístrate</a></p>
        </div>

        <div class="imagen">
          <a href="/"><h1>ServiApp</h1></a>
        </div>
      </div>
    </div>
  </body>
</html>
