<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro de usuario</title>
    <!-- links para las fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Grey+Qo&family=Kanit:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/estilos_inicio/registro.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      crossorigin="anonymous"
    />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/img_local/logo-pagina-serviapp.png" />
  </head>
  <body>
    <div class="contenedor">
      <div class="caja-registro">
        <div class="formulario-registro">
          <h2>Regístrate</h2>

          <!-- mensaje registro exitosos -->
          <div
            id="mensaje-exito"
            style="
              display: none;
              color: green;
              font-weight: bold;
              margin-bottom: 15px;
            "
          >
            ¡Te has registrado exitosamente!
          </div>
          <form id="formRegistro" method="post">
            <!-- Nombre -->
            <input
              class="casilla_r"
              type="text"
              name="nombre"
              placeholder="Nombre completo"
              pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+"
              title="Solo letras y espacios"
              required
              oninvalid="this.setCustomValidity('Por favor ingresa tu nombre completo usando solo letras y espacios')"
              oninput="this.setCustomValidity('')"
            />

            <!-- Email -->
            <input
              class="casilla_r"
              type="email"
              name="email"
              id="email"
              placeholder="E-mail"
              required
              title="Ingresa un correo válido"
              oninvalid="this.setCustomValidity('Por favor ingresa un correo electrónico válido')"
              oninput="this.setCustomValidity('')"
            />

            <div class="password-container">
              <input
                class="casilla_r"
                type="password"
                id="password"
                name="password"
                placeholder="Contraseña"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=]).{8,}"
                title="Debe contener al menos 8 caracteres, una mayúscula, un número y un carácter especial"
                required
                oninvalid="this.setCustomValidity('La contraseña debe tener al menos 8 caracteres, incluyendo una mayúscula, un número y un carácter especial')"
                oninput="this.setCustomValidity('')"
              />
              <i
                class="fa-solid fa-eye password-toggle"
                id="togglePassword"
                style="cursor: pointer"
              ></i>
            </div>

            <!-- OTP -->
            <input
              class="casilla_r"
              type="text"
              id="otpInput"
              placeholder="Ingresa el código OTP"
              style="display: none"
              maxlength="6"
              pattern="\d{6}"
              title="Ingresa el código de 6 dígitos que recibiste en tu correo"
            />

            <!-- Botón principal dinámico -->
            <button class="btn_registro" type="button" id="otpButton">
              Verificar Correo
            </button>

            <!-- Enlace para reenviar OTP -->
            <p
              id="reenviarOtpLink"
              style="
                display: none;
                cursor: pointer;
                color: #4e73df;
                text-align: center;
                margin-top: 10px;
              "
            >
              ¿No recibiste el código? <u>Reenviar OTP</u>
            </p>
          </form>

          <p>¿Ya tienes cuenta? <a href="login">Iniciar sesión</a></p>
        </div>
        <div class="imagen">
          <a href="/"><h1>ServiApp</h1></a>
        </div>
      </div>
    </div>

    <script src="/javascripts/mensaje_registro_exitoso.js"></script>
  </body>
</html>
