<!-- PANEL DE REGISTRO PARA LOS USUARIOS  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de usuario</title>
    <!-- links para las fuentes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grey+Qo&family=Kanit:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/estilos/styles_registros.css">
    <link rel="shortcut icon" href="/img_local/logo-pagina-serviapp.png" />

</head>
<body>
    <div class="contenedor">
        <div class="caja-registro">
            <div class="formulario-registro">
                <h2>Regístrate</h2>
                <form>
                    <input class="casilla_r" type="text" placeholder="Nombre completo" required>
                    <input class="casilla_r" type="email" placeholder="E-mail" required>
                    <input class="casilla_r" type="text" placeholder="Nombre de usuario" required>
                    <input class="casilla_r" type="password" placeholder="Contraseña" required>
                    <input class="casilla_r" type="number" placeholder="Estrato" min="1" max="6" required>
                    <button class="btn_registro" type="submit">Registrar</button>
                </form>
                <p>¿Ya tienes cuenta? <a href="login">Iniciar sesión</a></p>
            </div>
            <div class="imagen">
                
            </div>
        </div>
    </div>
</body>
</html>
