<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cuenta Inhabilitada</title>
    <!-- Fuentes y estilos -->
    <link rel="stylesheet" href="/estilos_inicio/iniciosesion.css" />
</head>
<body>
    <div class="contenedor">
        <div class="caja-inicioSesion">
            <div class="formulario-login">
                <h2>Tu cuenta ha sido inhabilitada</h2>
                <p>Lo sentimos, tu cuenta ha sido inhabilitada. Por favor, contacta con un administrador para más detalles.</p>
                <a href="/" class="btn btn-primary">Regresar al inicio</a>
            </div>
        </div>
    </div>
</body>
</html>
