<!--  PANEL DE INICIAR SESION USUARIO -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO DE SESION</title>
    <!--ESTOS SON LOS LINKS PARA IMPORTAR LAS FUENTES-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grey+Qo&family=Kanit:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/estilos_inicio/iniciosesion.css">
    <link rel="shortcut icon" href="/img_local/logo-pagina-serviapp.png" />
</head>
<body>


    <div class="contenedor">
        <div class="caja-inicioSesion" >
            <div class="formulario-login">
                <h2>Iniciar Sesión</h2>
                <form action="/login-usuario" method="post"> 
                    <input type="text" name="correo" placeholder="Email" required>
                    <input type="password" name="contraseña" placeholder="Contraseña" required>
                    <div th:if="${error}" style="color: red;">[[${error}]]</div>
                    <button type="submit">Entrar</button> <!--Momentaneo-->
                    
                </form>
                <p>¿Aún no tienes cuenta? <a href="registro">Registrate</a></p>
            </div>
            <!--lo deje reservado para colocar una imagen o algo-->
            <div class="imagen">
                <h1>ServiApp</h1>
            </div>
        </div>
    </div>
</body>
</html>
