<!--  PANEL DE INICIAR SESION Admin -->
<!DOCTYPE html>
<html lang="en">
    <html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO DE SESION - ADMINISTRADOR</title>
    <!--ESTOS SON LOS LINKS PARA IMPORTAR LAS FUENTES-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Grey+Qo&family=Kanit:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/estilos_interfaz-admin/loginadmin_style.css">
    <link rel="shortcut icon" href="/img_local/logo-pagina-serviapp.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>


    <div class="contenedor">
        
        <div class="caja-inicioSesion" >
            <div class="formulario-login">
                <h2>Iniciar Sesión - Admin</h2>
                <form action="/login-admin" method="post">
                    <input type="text" name="usuario-admin" placeholder="Usuario" required>
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <input type="number" name="pin" placeholder="PIN Admin" required>
                    <div th:if="${error}" style="color: red;" class="mensaje-error">[[${error}]]</div>
                    <button type="submit">Entrar</button> 
                </form>
              
            
        </div>
        <div class="imagen">
            <a href="/"><h1>ServiApp</h1></a>
        </div>
    </div>

    
</body>
</html>
