form {
    background-color: #fff;
    padding: 20px;
    border-radius: 16px; 
    margin: 20px auto;
    width: 90%; 
    max-width: 600px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
}

h2 {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
    font-size: 20px;
}


label {
    display: block;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 5px;
}


input[type="text"], input[type="date"], select, textarea {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}


input::placeholder, textarea::placeholder {
    color: #000000;
    
}

button {
    width: 100%;
    padding: 15px;
    background-color: #00aaff;
    color: white;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



button:hover {
    background-color: #008ecc;
}


.time-select {
    display: flex;
    justify-content: space-between;
}

.time-select input[type="time"] {
    width: 48%;
}


@media (max-width: 768px) {
    form {
        padding: 15px;
        max-width: 90%;
    }

    .time-select input[type="time"] {
        width: 100%;
        margin-bottom: 10px;
    }
}

.dynamic-field {
    display: none;
}