/* Estilo del formulario de registro de servicio */
.contenedor {
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.322);
    padding: 1.5rem;
    margin: 5px auto;
}

.caja-registro-serv {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #9efcff, #36b2fa);
    padding: 2rem;
    border-radius: 20px;
}

.formulario-registro-serv {
    width: 100%;
    padding: 2.5rem;
    background: linear-gradient(135deg, #ffffff, #c3eeff);
    border-radius: 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.801);
}

.formulario-registro-serv h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.formulario-registro-serv input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1rem;
}

.formulario-registro-serv button {
    width: 100%;
    padding: 0.8rem;
    background: linear-gradient(45deg, #cffff9, #6bcdfd);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: black;
    cursor: pointer;
    transition: background 0.4s ease;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.342);
    margin: 0 auto;
    display: block;
}

.formulario-registro-serv button:hover {
    background: linear-gradient(45deg, #A0E3FF, #FFD1FF);
}

.formulario-registro-serv p {
    text-align: center;
    margin-top: 1rem;
}

/* Animación y estilo para el GIF flotante */
abbr[title] {
    position: relative;
    cursor: pointer;
    overflow: visible; /* Asegura que el GIF no se recorte */
}

abbr[title]::after {
    content: "";
    position: absolute;
    top: 1.5em; /* Ajuste de posición */
    left: 50%;
    transform: translateX(-50%);
    width: 400px; /* Tamaño ampliado */
    height: 150px; /* Ajuste de altura para que sea visible */
    background-image: url('/img_local/poliza2.gif');
    background-size: contain; /* Asegura que el GIF se escale correctamente */
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

abbr[title]:hover::after {
    opacity: 1;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px) scale(0.95);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.info {
    text-align: left;
    margin-top: 20px;
    font-size: x-large;
}

.btn-confirmar {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-confirmar:hover {
    background-color: #218838; }

