/* Estilos del contenedor de atención */
.lineas-atencion-contenedor {
    background-color: #dbdada;
    padding: 10px;
    margin: auto; 
    border-radius: 20px;
    width: 60%; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin-top: 5px;
    margin-bottom: 20px;
}

.lineas-atencion-contenedor h3, h2 {
    color: #333333;
    margin-bottom: 10px;
    margin-top: 40px; 
}

.lineas-atencion-contenedor p {
    color: #666666;
    margin-bottom: 20px;
}

/* Tabla */
.lineas-atencion-contenedor table {
    width: 100%; 
    margin: 100 auto; 
    border-collapse: collapse;
    
}

.lineas-atencion-contenedor th, .lineas-atencion-contenedor td {
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}

.lineas-atencion-contenedor th {
    background-color: #3498db ;
    color: white;
}

.lineas-atencion-contenedor tr:nth-child(even) {
    background-color: #b6b6b6;
}

/* Imágenes dentro del contenedor */
.lineas-atencion-contenedor div img {
    margin-left: 400px;
    margin-top: 20px;
    padding: 0px;
    border: solid 1px black;
    width: 33%;
    border-radius: 10px;
}

.lineas-atencion-contenedor img {
    margin-left: 400px;
    margin-top: 20px;
    padding: 0px;
    width: 50%;
    border-radius: 10px;
}

/* Botones de mapas */
.map-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.map-buttons button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.map-buttons button:hover {
    background-color: #3498db;
}

/* Estilo para el iframe del mapa */
.map-container {
    display: none; 
    margin-top: 20px;
    text-align: center;
}

.map-container iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 10px;
    max-width: 500px; 
    margin: 0 auto; 
}

/* Estilos del modal */
.modal {
    display: none; 
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 
    overflow-y: auto; 
    justify-content: center;
}

/* Contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 65%; 
    max-width: 680px; 
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    position: relative;
}

/* Botón de cierre del modal */
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
}

/* Separar la tabla del buscador */
.buscador {
    margin-bottom: 100px; 
}

/* Estilos para la sección de instrucciones */
.instrucciones-recomendaciones {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: justify;
}

.instrucciones-recomendaciones h4 {
    color: #333333;
    font-size: 18px;
    margin-bottom: 10px;
}

.instrucciones-recomendaciones p, 
.instrucciones-recomendaciones ul li {
    color: #222121;
    font-size: 15px;
    margin-bottom: 5px;
    font-family: 'Kanit', sans-serif;
}

ul {
    
    padding-left: 0;
    margin: 0 auto;
    
}

li {
   text-align: center;
   margin-left: 0px;
   align-items: flex-start;
   display: flex;
   justify-content: center;
   margin-left: -20px;
   text-align: left;
}